*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #124E78;
    text-align: center;
}
.name{
   color: #FFEED6; 
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.6);
    font-size: 9vmin;
    color: #962727;
    background-color: #2a8f8b;
}
#reset-button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #2a8f8b;
    box-shadow: 0 0 1.5rem rgba(19, 15, 206, 0.3);
    border-radius: 1rem;
    border: none;
}
#new-button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #2a8f8b;
    box-shadow: 0 0 1.5rem rgba(19, 15, 206, 0.3);
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #710627;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.hide{
    display: none;
}